* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
  }
  

.carousel-item {
    height: 100vh;
    min-height: 300px;
}

.carousel-caption {
    bottom: 100px;
    z-index: 2;
}
.carousel-caption h5 {
    font-size: clamp(17px, 3vw, 45px);
    text-decoration: uppercase;
    letter-spacing: 2px;
    margin: 25px;
}
.carousel-caption p {
    display: block;
    width:70%;
    margin: auto;
    font-size: 18px;
    line-height: 1.9;
}
.carousel-inner::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.7);
    z-index: 1;
}

.navbar-nav a {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
}

.navbar-light .navbar-brand {
    color: #000;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
}

.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover {
    color: #000;
}

.w-100 {
    height: 100vh;
}

.delight {
    color: gold;
}
.flavor {
    color: rgba(47, 136, 35, 0.788);
}
.coffee {
    color: rgba(43, 4, 4, 0.76)
}

.inspire {
    color: #FF0000; /* Red color */
  }
  
  .connect {
    color: #00FF00; /* Green color */
  }
  
  .succeed {
    color: #0000FF; /* Blue color */
  }

  .p-5 {
    font-size: 1.2em;
    font-weight: 700;
  }
    

/* media query */

@media only screen and (min-width: 768px) and (max-width:991px){
    .carousel-caption{
        bottom: 50px;
    }
    .carousel-caption p {
        width: 100%;
    }
}


@media only screen and (max-width: 767px){
    .navbar-nav {
        text-align: center;
    }
    .carousel-caption {
        bottom: 100px;
    }
    .carousel-caption a {
        padding: 10px 15px;
    }
    .carousel-caption p {
        width: 100%;
        line-height: 1.6;
        font-size: 12px;
    }
}

/* steps section */
.steps {
    padding-top: 40px;
    padding-bottom: 40px;
}

.number {
    font-size: 1.4rem;
    font-weight: 700;
    color: rgba(0,0,0,0.5);
}
.beet {
    color: #8E354A;
}
.beet-para {
    font-size: 1.2em;
}
.delicious {
    font-family: 'Arial', sans-serif;
     font-size: 36px;
      font-weight: bold;
       color: #333333; 
}
.section--hidden {
    opacity: 0;
    transform: translateY(8rem);
}
.navbar-toggler {
    outline: none;
    border: none;
}
@media (min-width: 544px) {
    .steps {
        padding-top: 80px;
        padding-bottom: 80px;
    }
}

/* footer */

.footer {
    background-color: #bbc5ce;
    padding: 20px 0;
}
.footer .container {
    text-align: center;
}
.footer p {
    font-size: 1.3em;
}

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    /* Add any additional styling you need for the sticky navbar */
  }
  

